.qr {
    display: block;
    margin: auto;
    height: 40%;
    width: 40%;
}

.scanMessage {
    background-color: white;
    display:block;
    text-align: center;
    margin: auto;
    border: 5px solid rgb(108, 247, 247); 
    width: 500px;
    height: 60px;
}